.leftPanel{
	background-color: blue;
	position: fixed;
		bottom: 0px;
		top: 0px;
		left: 0px;
	width: 70%;
	overflow: auto;
}
.rightPanel{
	background-color: red;
	position: fixed;
		bottom: 0px;
		top: 0px;
		right: 0px;
	width: 30%;
	overflow-y: auto;
}

.rightPanel div{
	padding-bottom: 4px;
}

#welcome{
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.grid{
	width:  900px;
	height:	900px;
}
.gridCell{
	min-height: 80px;
	min-width: 80px;
	width:  80px;
	height:	80px;
	font-size:20px;
}

.inlineButton{
	min-height: 1.4em;
	min-width: default;
	width:  default;
	height:	1.4em;
	font-size: 14pt;
}
.doublelineButton{
	min-height: 3.2em;
	min-width: 120px;
	width:  9em;
	height:	3.2em;
	font-size: 16pt;
}

#jsonEditor{
	width:99%;
	height: 99%;
}

#jsonTextArea{
	width:99%;
	height: calc(100% - 50px);
}

#roomEditorPanelChoice{
	font-size: 20pt;
	font-weight: 555;
	padding: 6px;
}