#gameArea{
	width: 600px;
	height: 390px;
	border: 2px solid lime;
	margin: 10px 30px 20px 30px;
	position: relative;
	background-image: url(rainbowVortex.png);
	background-position: -200px -300px;
}

#gameArea *{
	text-align: left;
	position: relative;
	margin: 0px;
	padding: 0px;
}

#mockPC{
	width: 50px;
	height: 27px;
	left: 300px;
	top: 195px;
}